* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 970px;
    margin: 0px auto;
    height: 700px;
    background-color: rgb(36, 26, 36);
    background: radial-gradient(rgba(36, 26, 36, 0.5), rgba(36, 26, 36, 1)); 
} 

h1 {
    text-align: left;
    font-family: Comic Sans MS;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
   
}

.headshot {
    width: 40%;
    height: 30%;
    margin: 10px;
    display: inline-block;
    
}